root = true

[*]
charset = utf-8
indent_style = space
indent_size = 4
trim_trailing_whitespace = true
insert_final_newline = true
end_of_line = lf
max_line_length = 80

[*.{css,html,js,scss,twig,ts,json},.prettierrc]
indent_size = 2

[{composer.json,package.json,webpack.config*.js}]
indent_size = 4
