[mysqld]
datadir=/var/lib/mysql
port=3306
authentication_policy=caching_sha2_password

# Character set and collation settings
character-set-server=utf8mb4
collation-server=utf8mb4_unicode_ci

# Logging and error handling
log-error=/var/log/mysql/error.log
