{% import 'dev/components/macros.html.twig' as macros %}

{% extends 'base.html.twig' %}

{% block title %}Hello Component reference!
{% endblock %}

{% block body %}
    <div class="relative container mx-auto">
        <h1 class="text-4xl text-center">Tailwind/Twig Custom components</h1>

        {{ macros.CustomComponent('Button', [
                { text: "Normal button!",   use: 'normal' },
                { text: "Confirm button!",  use: 'confirm' },
                { text: "Warning button!",  use: 'warning' },
                { text: "Danger button!",   use: 'danger' }
            ], [
                { name: 'filled', attributes: {} },
                { name: 'outlined', attributes: { style: 'outline' } },
                { name: 'disabled', attributes: { disabled: true } }
        ]) }}
    </div>
{% endblock %}
