@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .smallcaps {
    font-variant-caps: small-caps;
  }

  .smallcaps-all {
    font-variant-caps: all-small-caps;
  }
}

@layer components {
  /* Allows the topnav hamburger menu to be toggled without JS */
  #topnav-hbr:checked ~ #topnav-hbr-menu {
    @apply block lg:flex;
  }

  /* Enlarges a (usually) SVG icon */
  .icon {
    scale: 1;
    padding: 0;
  }
  .icon-lg {
    scale: 1.5;
    padding: 0.5rem;
  }
  .icon-xl {
    scale: 2;
    padding: 1rem;
  }
  .icon-2xl {
    scale: 2.5;
    padding: 1.5rem;
  }
  .icon-3xl {
    scale: 3;
    padding: 2rem;
  }
}
