<!DOCTYPE html>
<html lang=en>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}K-Dex{% endblock %}
    </title>

    {% block stylesheets %}
        {% for css in cssArray|default([]) %}
            <link rel="stylesheet" href="{{ css }}">
        {% endfor %}
    {% endblock %}

    {% block scripts %}
        {% for js in jsArray|default([]) %}
            <script src="{{ js }}"></script>
        {% endfor %}
    {% endblock %}
</head>

<body>
    {% block body %}{% endblock %}
</body>
</html>
